body {
  background-color: #074173;
  color: #fff;
}

header {
  margin: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1 {
  font-weight: 700;
  font-size: 2.5em;
  text-align: center;
}

a {
  text-decoration: none;
}

nav ul a {
  text-decoration: none;
  color: #fff;
}

nav ul a:hover {
  border-bottom: 1px solid #5fbdff;
  color: #5fbdff;
  transition: all 0.1s;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
}

button {
  background-color: #1679ab;
  border: 0;
  border-radius: 25px;
  outline: none;
  padding: 0.5rem 2rem;
  color: white;
}

header button {
  display: none;
}

button:hover {
  background-color: #5fbdff;
  transition: background-color 0.3s;
}

#nav-desktop {
  display: none;
}

#hamburger-icon {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-10px, 10px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-10px, -10px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  header {
    flex-direction: row;
    margin: 1rem 4rem;
    justify-content: space-around;
    align-items: center;
  }

  ul {
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    align-items: center;
    margin-bottom: 0;
  }

  header nav {
    display: block;
  }

  #hamburger-icon {
    display: none;
  }

  #nav-desktop {
    display: flex;
  }
  header button {
    display: block;
  }
}